@import url('/font/stylesheet.css');

* { margin: 0; padding: 0;}

/* !  @media-card-start*/
@media screen and (max-width: 2300px) {
    .card7{
        display: none;
    }
}

@media screen and (max-width: 2000px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
}

@media screen and (max-width: 1700px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
    .card4{
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
    .card4{
        display: none;
    }
    .card3{
        display: none;
    }
    .card-img-size{
        width: 290px;
    }
    #navbar-display{
        display: none;
    }
    .arrow{
        width: 20px;
    }
}

@media screen and (max-width: 765px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
    .card4{
        display: none;
    }
    .card3{
        display: none;
    }
    .card2{
        display: none;
    }
    .card-img-size{
        width: 200px;
    }
    #navbar-display{
        display: none;
    }
    .img-movie-name{
        width: 300px;
    }
    .img-original-movie-size{
        width: 200px;
    }
    .link-group{
        display: flex;
        flex-wrap: wrap;
    }
    .card .progress-bar{
        display: none;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 14px;
    }
    .content p {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
    .card4{
        display: none;
    }
    .card3{
        display: none;
    }
    .card2{
        display: none;
    }
    .card-img-size{
        width: 180px;
    }
    #navbar-display{
        display: none;
    }
    #header-right-display{
        display: none;
    }
    .img-movie-name{
        width: 250px;
    }
    .img-original-movie-size{
        width: 180px;
    }
    .link-group{
        display: flex;
        flex-wrap: wrap;
    }
    .card .progress-bar{
        display: none;
    }
    .arrow {
        width: 30px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 15px;
    }
    .content p {
        font-size: 20px;
    }
    .card .most-viewed-img-size{
        width: 100px;
        position: relative;
        left: -30px;
    }
    .card .most-viewed-span-size{
        font-size: 190px;
    }
}

@media screen and (max-width: 300px) {
    .card7{
        display: none;
    }
    .card6{
        display: none;
    }
    .card5{
        display: none;
    }
    .card4{
        display: none;
    }
    .card3{
        display: none;
    }
    .card2{
        display: none;
    }
    .card-img-size{
        width: 150px;
    }
    #navbar-display{
        display: none;
    }
    #header-right-display{
        display: none;
    }
    .img-movie-name{
        width: 180px;
    }
    .img-original-movie-size{
        width: 150px;
    }
    .link-group{
        display: flex;
        flex-wrap: wrap;
    }
    .arrow {
        width: 10px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 10px;
    }
    .content p {
        font-size: 15px;
    }
    .media-logo img {
        width: 20px;
    }
    .card .progress-bar{
        display: none;
    }
    .card .most-viewed-img-size{
        width: 80px;
        position: relative;
        left: -20px;
    }
    .card .most-viewed-span-size{
        font-size: 150px;
    }
}
/* !  @media-card-end*/

.style-distance{
    padding: 0px 50px 20px;
}

body {
    background-color: #000;
    
}

h1 {
    color: white;
    display: inline;
    padding-left: 20px ;
}

h2 {
    color: white; 
    padding: 10px 30px;
}

p{
    color: white;
    font-size: 26px;
    max-width: 700px;
}

/*  !  HEADER-start                    */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    width: min-content ;
}

.netflix-logo {
    margin: 25px;
}

 /**  NAVBAR-start                     */
.navbar {
    display: flex;
    align-items: center;
    margin-left: 40px;  
    width: min-content;
    height: min-content;
    justify-content: center;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin:10px;
    font-size: 15px;
    
}
.navbar-link-homepage{
    width: 100px;
}

.navbar-link-homepage a{
    font-weight: bolder;
    font-family: sans-serif;
}

.navbar-link-popular{
    width: 116px;
    color: white;
}
/**  NAVBAR-end *                       */

.header-right {
    align-items: center;
    display: flex;
    gap: 25px;
    justify-content: center;
    width: min-content;
    margin-right: 25px;
}

.child a{
    text-decoration: none;
    color: #fff;
}
/*  !  HEADER-end                            */


/*  !  CONTENT-start                         */
.section {
    background-image:url('/img/body/zyro-image.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-movie-name {
    margin: 200px 50px 50px;
    max-width: 500px;
}

.button {
    padding: 10px 20px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border-width: 0ch;
    margin: 5px;
}

.button span{
    position: relative;
    top: -7px;
}

.button-info{
    background: rgba(255, 255, 255, 0.3);color: #fff;
}

.button-play{
    background-color: #fff;
}

.progress-bar {
    display: flex;
    align-items: flex-start;
    background-color: lightslategray;
    height: 3px;
    width: 175px;
    margin-left: 20%;
    top: 168px;
}

.progress {
    background-color: red;
    height: 3px;
    width: 40px;
}

.slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    text-align: center;
    max-width: 100%;
    height: auto;
    margin: 5px;
    
}

.card-img-size{
    max-width: 295px;
    object-fit: scale-down;
}

.most-viewed-img-size{
    max-width: 145px;
    object-fit: scale-down;
}

.most-viewed-span-size{
    font-size: 280px;
    color:#000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: 8px gray;
}
/*  !  CONTENT-end                      */


/*!  FOOTER-start                       */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer a {
    text-decoration: none;
    color: gray;
    min-width: max-content;
    margin:10px;
    font-size: 13px;
    font-weight: lighter;
}

.block{
    width: 100%;
    height: 100%;
    margin: 10px;
}

.footer :nth-child(1){
    flex: 1;
}

.footer :nth-child(2){
    flex: 5;
}

.footer :nth-child(3){
    flex: 1;
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.media-logo{
    width: 100%;
    height: 100%;
    margin: 10px;
}

.link-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: min-content ;
    margin: 10px;
    list-style-type:none
}

.group li{
    min-width: max-content;
    margin: 5px;
}

.service-code{
    border-color: gray; 
    border-style:groove; 
    display: inline; 
    padding:10px;
    margin: 15px;
}

.service-code-button{
    background-color: #000;
    color: gray;
    padding: 8px;
    border-color: gray;
    border-style: none;
}

.copyright{
    margin: 20px;
    color: gray;
    font-size: 12px;
}
/*!  FOOTER-end                       */