@font-face {
    font-family: 'Netflix Sans';
    src: url('NetflixSans-Light.eot');
    src: local('Netflix Sans Light'), local('NetflixSans-Light'),
        url('NetflixSans-Light.eot?#iefix') format('embedded-opentype'),
        url('NetflixSans-Light.woff2') format('woff2'),
        url('NetflixSans-Light.woff') format('woff'),
        url('NetflixSans-Light.ttf') format('truetype'),
        url('NetflixSans-Light.svg#NetflixSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('NetflixSans-Medium.eot');
    src: local('Netflix Sans Medium'), local('NetflixSans-Medium'),
        url('NetflixSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('NetflixSans-Medium.woff2') format('woff2'),
        url('NetflixSans-Medium.woff') format('woff'),
        url('NetflixSans-Medium.ttf') format('truetype'),
        url('NetflixSans-Medium.svg#NetflixSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('NetflixSans-Regular.eot');
    src: local('Netflix Sans Regular'), local('NetflixSans-Regular'),
        url('NetflixSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('NetflixSans-Regular.woff2') format('woff2'),
        url('NetflixSans-Regular.woff') format('woff'),
        url('NetflixSans-Regular.ttf') format('truetype'),
        url('NetflixSans-Regular.svg#NetflixSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('NetflixSans-Bold.eot');
    src: local('Netflix Sans  Bold'), local('NetflixSans-Bold'),
        url('NetflixSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('NetflixSans-Bold.woff2') format('woff2'),
        url('NetflixSans-Bold.woff') format('woff'),
        url('NetflixSans-Bold.ttf') format('truetype'),
        url('NetflixSans-Bold.svg#NetflixSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

